*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.parent-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:6px;
    border:1px solid red;
    margin-top:20px;

}

